body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: bisque;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #cec1c1;
  border-radius: 5px;
  background-color:beige;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #c8bebe;
  border-radius: 3px;
}

form button {
  background-color: #1500ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  display: none;
}

.hidden {
  display: none;
}
